
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<style>
*{
  margin: 0;
  padding:0;
  font-family: 'poppins',sans-serif;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(images/blackwallpaper.jpeg)no-repeat;
  background-position:center;
  background-size: cover;
}
.form-box{
  position: relative;
  width: 400px;
  height: 700px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display:flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color:#fff;
  font-size: 1em;
  pointer-events: none;
  transition: -5s;
}
input:focus ~ label,
input:valid ~ label{
top:-5px;
}
.inputbox input{
  width:100%;
  height: 50px;
  background: transparent;
  border: none;
  outline:none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color:#fff;
}
.forget{
  margin: -15px 0 15px;
  font-size: -9em;
  color: #fff;
  display: flex;
  justify-content: center;
}
.forget label input{
  margin-right: 3px;
}
.forget label a{
  color: #fff;
  text-decoration: none;
}
.forget label  a:hover{
  text-decoration: underline;
}
button{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  background:#fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 600;
}
.register{
  font-size: -9em;
  color:#fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p{
  text-decoration: none;
  color:#fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}
			.site-header .header-bottom {
    background: #ff5140;
}

.main-navigation ul ul {
    background: #ff5757;
}
.site-branding .site-title a {
    font-size: 26px;
    line-height: 29px;
    color: #ff5140;
}
a {
    color: #ff5140;
}

.site-header .apply-btn {
    border: 2px solid #737373;
    color: #737373;
}
.site-header .apply-btn:hover {
     background: #ff5757;
}
.site-header .social-networks li a {
    color: #676767;
}

.latest-events .learn-more {
    background: #ff5140;
    border: 2px solid #fff;
}

.banner .banner-text .title, .banner .banner-text .text span {
    color: #fff613;
}
.featured-courses ul li {
    width: 33.3%; 
}
.site-info p{
	display:none;
}
.thumb-text li .box-1, .thumb-text li .box-2, .thumb-text li .box-3, .thumb-text li .box-4 {
	height: 255px;
}
.thumb-text p{
	font-size: 18px;
}
.thumb-text li h3 a {
	font-size: 25px;
}
.entry-meta{
	display:none;
}
.formcontinue .btn{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	padding: 15px 25px;
	background: #79B530;
	border: 2px solid #fff;
	font-size: 16px;
	box-shadow:none;
}
.formcontinue .btn:hover{
	color: #fff;
	background: #77C11C;
	box-shadow:none;
}
.formback .btn{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	padding: 15px 25px;
	background: #737272;
	border: 2px solid #fff;
	font-size: 16px;
	box-shadow:none;
}
.formback .btn:hover{
	color: #fff;
	background: #8c8c8c;
	box-shadow:none;
}
@media all and (min-width: 720px){
	#caldera_form_1{
		width: 60%;
    margin-left: auto;
    margin-right: auto;
		padding:20px;
	}
}
@media all and (max-width: 720px){
	#caldera_form_1{
		width: 80%;
		padding:20px
	}
}
@media all and (max-width: 480px){
	#caldera_form_1{
		width: 100%;
		padding:20px
	}
}
#caldera-forms-breadcrumb_1{
	display:none;
}
.formheader{
	background: #79B530;
	color:#fff;
	padding: 15px 25px;
}
.caldera-grid .form-control{
	border-radius: 0px;
	height: 45px;
}
.page-header .page-title{
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
}
#course-table, .teacher-table .tablepress{
	border-collapse: collapse;
  width: 100%;
	height:auto !important;
}
#course-table th, .teacher-table th, .tablepress th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D !important;
  color: white;
}
.teacher-table img{
	max-width:none;
}
#course-table td, #course-table th, .teacher-table td, .teacher-table th, .tablepress td {
  border: 1px solid #ddd;
  padding: 8px;
}

#course-table tr:nth-child(even), .teacher-table tr:nth-child(even) {background-color: #f2f2f2;}

#course-table tr:hover, .teacher-table tr:hover, .tablepress tr:hover {background-color: #ddd;}

.page-content, .entry-content, .entry-summary{
	margin-top: 10px;
	padding: 25px;
}
.site-content {
  background: #ececec;
}
.theme {
   background: url(https://mengoss.sc.ug/wp-content/uploads/2021/07/themeback.jpg) no-repeat;
	background-size: cover;
  background-attachment: fixed;
}
#primary .entry-header {
    padding: 30px 0 0;
    margin-left: 25px;
}
.nav-links a{
	display:none;
}

#mega-menu-wrap-primary {
background: linear-gradient(to bottom, #ff5140, #ff5140);    
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link {
    background: #ff6657;
	background: linear-gradient(to bottom, rgb(223, 47, 30), rgb(223, 47, 30));align-content
}

.creditss, .footer-divider{
	font-size:12px;
	color:#929292;
}
.thumb-text li h3 {
	color: #f9f9f9 !important;
	text-decoration:none !important;
}
#panel-2513-1-1-0 form {
    width: 100%;
    background: #ededed;
    height: 50px;
}

#panel-2513-1-1-0 form input[type="search"] {
    float: left;
    width: 50%;
    background: #a2a2a2;;
    height: 100%;
    border: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 26px;
    color: #6f6f6f;
}
#panel-2513-1-1-0 form input[type="submit"] {
    background-color: #79b530;
}
#panel-2513-1-1-0 form input[type="submit"] {
    float: right;
    width: 45px;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    background: url(https://mengoss.sc.ug/wp-content/themes/education-zone/images/search-icon.png) no-repeat 48% 53% #79b530;
    text-indent: 100%;
    font-size: 0;
}
#panel-2513-1-1-1 .textwidget .news-content .post-content-text {
    width: 85%;
	margin-left: 5%;
}

#panel-2513-1-1-1 .textwidget .news-content .date-post {
    width: 19%;
}
#post-2513 .recent-news-items ul, ol {
    margin: 0px;
    padding: 0px;
}
#pgc-2513-1-1 {
	background: #ececec;
    padding: 10px;
	margin-right: 15px;
}
.featured-courses {
    padding: 40px 0 0;
}
.welcome-note {
    text-align: center;
    padding: 20px 0 10px;
	margin: 0 10px;
}
#pg-2513-1 {
	margin-bottom: 10px;
}
#post-2513 .entry-content {
	margin-bottom: -220px;
	margin-top: -102px;
	padding-top:0px;
}
#post-2513 {
	margin-top: -50px;
	margin-bottom: -70px;
}
.site-footer {
	margin-top: -119px;
}
#post-2513 .entry-content-page{
	margin-bottom: -45px;
}
#post-2513 .information{
	margin-top: -70px;
}
#content .container {
	background: #fff;
	padding: 15px 15px;
}
.site-footer .widget-area .col{
	float:right;
}
		</style>
	